{% if not title %}
{% set title="Python tutorials" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav>
			<a href="/">Foods</a> - 
			<a href="/add">Add new foods</a> - 
			<a href="/bug">Bugs</a> - 
			<a href="/new">Add new bugs</a> - 
			
		</nav>
		<h1>{{ title }}</h1>
		{% for msg in get_flashed_messages() %}
			<p><b>{{ msg }}</b></p>
		{% endfor %}
		{% block content %}
			<p>Block</p>
		{% endblock content %}
	</body>

</html>
