{% if not title %}
	{% set title="Dungeons & Dragons meetup" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
	</head>
	<body>
		<nav>
			<a href="/">Home</a> - 
			{% if currentUser() %}
				<a href="/player/add">Add player profile</a> -
				<a href="/items">Item database</a> -
				<a href="/items/add">Add Items</a> - 
				<a href="/dice">Roll dice</a> -  
				<a href="/user/logout">Logout</a> -
				{{ currentUser().email }}  
			{% else %}
				<a href="/user/login">Login</a> - 
				<a href="/user/register">Register</a>
			{% endif %}
		</nav>

		<h1>{{ title }}</h1>
		
		{% for msg in get_flashed_messages() %}
			<p><b>{{ msg }}</b></p>
		{% endfor %}
		<br>
		{% block content %}
		<p>Welcome</p>
		{% endblock content %}

	</body>
</html>
